.add-cell {
    position: relative;
    opacity: 0;
    transition: opacity 0.3s;
}
.add-cell:hover {
    opacity: 1;
}

.add-cell .divider {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 2%;
    left: 2%;
    border-bottom: 1px solid gray;
    width: 96%;
    z-index: -1;
}

.add-cell .add-buttons {
    display: flex;
    justify-content: center;
}

.add-cell .add-buttons button {
    margin: 0 3rem;
}
