.progress-cover {
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    animation: fadeIn 0.5s;
    width: 100%;
}
.progress-wrapper {
    height: 100%;
    flex-grow: 1;
    background-color: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
